<template>
   <div class="chartContainer">
      <div>
         <LineChart :options="options" :chartData="getDatasetCumulative()"/>
      </div>
   </div>
</template>

<script>
	import { isDebet, isCredit, sum, getYears, getDates, mapToDate } from '@/js/lib/TransactionUtil';
	import { flatten, removeDuplicates } from '@/js/lib/ArrayUtil';
	import LineChart from './LineChart.js';
	import { mapState } from 'vuex';

	function getYearMonthName(date) {
		return `${date.year}/${date.month}`;
	}

	function getTransactionsCumulative(ts, dates) {
		return dates.map((date) => {
			return Math.abs(Math.round(sum(ts.filter(t => t.date.isBeforeDate(date)).map(t => t.amount)
			)));
		});
	}

	function getTransactions(ts, dates) {
		return mapToDate(ts, dates);
	}

	export default {
		components: {
			LineChart,
		},
		computed: {
			...mapState(['transactions']),
			years() {
				return getYears(this.transactions);
			},
		},
		data() {
			return {
				options: {
					maintainAspectRatio: false,
				}
			}
		},
		methods: {
			getDatasetCumulative() {
				const dates = getDates(this.transactions);
				const dataCumulative = {
					label: `Accumulative`,
					backgroundColor: '#2277cc',
					data: getTransactionsCumulative(this.transactions, dates),
				};
				const data = {
					label: `Regular`,
					backgroundColor: '#7722cc',
					data: getTransactions(this.transactions, dates),
				};
				return {
					labels: dates.map(getYearMonthName),
					datasets: [data, dataCumulative],
				};
			},
		}
	}
</script>
<style scoped>
   .chartContainer {
      /*height: 200px;*/
   }
</style>
