<template>
   <v-card>
      <v-card-text>
         <div>
            <v-btn @click="resetModels()" class="primary">
               <span>Reset</span>
            </v-btn>
            <v-text-field label="Filter"
                          v-model="filterText"
                          prepend-icon="search"
                          autofocus single-line clearable></v-text-field>
            <v-select v-model="yearModel"
                      :items="years"
                      label="years"
                      prepend-icon="date_range"
                      chips multiple>
            </v-select>
            <v-select v-model="accountModel"
                      :items="accounts"
                      label="accounts"
                      prepend-icon="credit_card"
                      chips multiple>
            </v-select>
            <v-select v-model="categorieModel"
                      :items="categorieList"
                      label="categories"
                      prepend-icon="label"
                      chips multiple>
            </v-select>
         </div>
      </v-card-text>
   </v-card>
</template>

<script>
	import { isDebet, isCredit, getAccounts, getYears } from '@/js/lib/TransactionUtil';
	import { mapState } from 'vuex';

	export default {
		dependencies: ['filterAction'],
		computed: {
			...mapState(['allTransactions', 'categories']),
			years() {
				return getYears(this.allTransactions);
			},
			accounts() {
				return getAccounts(this.allTransactions).map(a => a.number);
			},
			categorieList() {
				return Object.keys(this.categories).sort();
			}
		},
		data() {
			return {
				yearModel: [],
				accountModel: [],
				categorieModel: [],
				filterText: '',
			};
		},
		methods: {
			resetModels() {
				this.yearModel = [];
				this.accountModel = [];
				this.categorieModel = [];
				this.filterText = '';
			},

			updateFilter() {
				this.filterAction.execute({
					years: this.yearModel,
					accounts: this.accountModel,
					categories: this.categorieModel,
					filterText: this.filterText
				});
			}
		},
		watch: {
			yearModel() {
				this.updateFilter();
			},
			accountModel() {
				this.updateFilter();
			},
			filterText() {
				this.updateFilter();
			},
			categorieModel() {
				this.updateFilter();
			}
		}
	}
</script>
