<template>
   <v-container fluid>
      <v-data-table
              :headers="headers"
              :items="rows"
              v-bind:pagination.sync="pagination"
              no-data-text="No records"
              hide-actions>
         <v-progress-linear slot="progress" indeterminate></v-progress-linear>
         <template slot="items" slot-scope="props">
            <td v-for="(h, idx) in headers" :key="idx" class="number">{{props.item[idx]}}</td>
         </template>
      </v-data-table>

   </v-container>
</template>

<script>
	import { mapState } from 'vuex';
	import { sum, getDates, mapToDate } from '@/js/lib/TransactionUtil';
	import { filterCategories, filterYearAndMonth } from '@/js/lib/FilterUtil';

	export default {
		computed: {
			...mapState(['transactions', 'categories']),
			categorieHeaders() {
				return Object.keys(this.categories).sort().map(c => {
					return {
						text: c,
						sortable: false
					};
				});

			},
			headers() {
				return [{ text: 'Date', sortable: false }].concat(this.categorieHeaders);
			}
		},
		data() {
			return {
				pagination: { rowsPerPage: -1 },
				rows: [],
			};
		},
		mounted() {
			this.reload();
		},
		methods: {
			reload() {
				if (!this.transactions || !this.categories) {
					return;
				}

				function getDateSegment(d) {
					return d.month < 10 ? `${d.year}-0${d.month}` : `${d.year}-${d.month}`;
				}

				const transToDateMap = this.transactions.reduce((acc, t) => {
					const dateSegment = getDateSegment(t.date);
					if (!acc[dateSegment]) {
						acc[dateSegment] = [];
					}
					acc[dateSegment].push(t);
					return acc;
				}, {});

				const dateSegments = Object.keys(transToDateMap);
				dateSegments.sort().reverse();

				this.rows = dateSegments.map(d => {
					return [d].concat(this.categorieHeaders.map(h => {
						return Math.round(sum(transToDateMap[d]
							.filter(filterCategories([h.text])).map(t => t.amount)));
					}));
				});
			},
		},
		watch: {
			transactions() {
				this.reload();
			},
			categories() {
				this.reload();
			}
		}
	}
</script>
<style scoped>
   .number {
      text-align: right;
   }
</style>
