<template>
   <v-data-table
           :headers="headers"
           :items="transactions"
           v-bind:pagination.sync="pagination"
           no-data-text="No records"
   >
      <v-progress-linear slot="progress" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
         <td>{{props.item.account.number}}</td>
         <td>{{props.item.date.display}}</td>
         <td :title="props.item.raw">{{props.item.description}}</td>
         <td>{{props.item.categorie}}</td>
         <td class="number amount">{{ props.item.amount.toFixed(2) }} $</td>
      </template>
   </v-data-table>
</template>

<script>
	export default {
		props: ['transactions'],
		data() {
			return {
				pagination: { sortBy: 'date.display', descending: true, rowsPerPage: 100 },
				headers: [
					{ text: 'Account', value: 'account' },
					{ text: 'Date', value: 'date.display' },
					{ text: 'Description', value: 'description' },
					{ text: 'Categorie', value: 'categorie' },
					{ text: 'Amount', value: 'amount' },
				],
			};
		},
	}
</script>
<style scoped>
   .amount {
      text-align: right;
   }
</style>
