<template>
   <v-container fluid>
      <TransactionsTable :transactions="transactions"/>
   </v-container>
</template>

<script>
	import TransactionsTable from './TransactionsTable.vue';
	import { mapState } from 'vuex';

	export default {
		components: {
			TransactionsTable
		},
		computed: {
			...mapState(['transactions']),
		},
	}
</script>
<style scoped>
</style>
