<template>
   <v-app dark>
      <v-navigation-drawer
              persistent
              :mini-variant="miniVariant"
              :clipped="clipped"
              v-model="drawer"
              enable-resize-watcher fixed app>
         <FilterPane></FilterPane>
      </v-navigation-drawer>
      <v-toolbar dense app :clipped-left="clipped" flat>
         <v-btn icon @click.stop="miniVariant = !miniVariant">
            <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
         </v-btn>
         <v-toolbar-title v-text="title">
         </v-toolbar-title>
         <v-chip color="primary" text-color="white" small>
            {{transactions.length}}
         </v-chip>
         <v-spacer></v-spacer>
         <v-toolbar-items>
            <v-btn flat to="/table">
               <v-icon>view_list</v-icon>
               <span>table</span>
            </v-btn>
            <v-btn flat to="/chart">
               <v-icon>bar_chart</v-icon>
               <span>Chart</span>
            </v-btn>
            <v-btn flat to="/cumulative">
               <v-icon>show_chart</v-icon>
               <span>Cumulative</span>
            </v-btn>
            <v-btn flat to="/transactions">
               <v-icon>list</v-icon>
               <span>Transactions</span>
            </v-btn>
         </v-toolbar-items>
      </v-toolbar>
      <v-content>
         <v-progress-linear v-if="loading" indeterminate></v-progress-linear>
         <keep-alive>
            <router-view/>
         </keep-alive>
      </v-content>
   </v-app>
</template>

<script>
	import { mapState } from 'vuex';
	import FilterPane from '@/components/FilterPane';

	export default {
		components: {
			FilterPane,
		},
		computed: {
			...mapState(['loading', 'transactions']),
		},
		name: 'App',
		data() {
			return {
				active: null,
				clipped: true,
				drawer: true,
				fixed: false,
				items: [{
					icon: 'bubble_chart',
					title: 'Inspire'
				}],
				miniVariant: false,
				right: true,
				title: 'Cashflow'
			}
		}
	}
</script>
